@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets
<div class="diagram-container">
	<CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas>
            
		<Widgets>
			<SelectionBoxWidget />
		</Widgets>
        </DiagramCanvas>
    </CascadingValue>
</div>